* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Questrial;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f7fc;
  padding-bottom: 20px;
}

@media all and (min-width: 780px) {
  .wrapper {
    flex-direction: row;
    background-color: #f5f7fc;
  }
}

.box {
  height: 40vh;
  width: 90vw;
  order: 3;
  -webkit-order: 3;
}

@media all and (min-width: 780px) {
  .box {
    width: 30vw;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #f5f7fc;
    order: 2;
    -webkit-order: 2;
  }
}

form {
  width: 100%;
  font-size: 1em;
  color: #a5a7ac;
  background-color: #f5f7fc;
  padding: 5%;
  padding-bottom: 30px;
  border-radius: 25px;
  border: 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15),
    -5px -5px 10px rgba(255, 255, 255, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  color: rgb(71, 185, 219);
  width: 80%;
  height: 27px;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  box-shadow: inset 4px 4px 5px rgba(0, 0, 0, 0.219),
    -5px -5px 10px rgba(255, 255, 255, 0.85);
}

.box3 {
  position: relative;
  top: 20%;
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  order: 3;
  -webkit-order: 3;
}
@media all and (min-width: 780px) {
  .box3 {
    position: static;
    width: 50%;
    order: none;
    -webkit-order: none;
  }
}

p {
  padding: 2em;
  width: 90vw;
  height: 40vh;
  line-height: 20px;
  font-size: 1em;
  color: #a5a7ac;
  background: #f5f7fc;
  border-radius: 25px;
  border: 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15),
    -5px -5px 10px rgba(255, 255, 255, 0.85);
}

@media all and (min-width: 780px) {
  p {
    margin-left: 30px;
  }
}

label {
  margin-top: 15px;
}

.resetForm {
  order: 1;
  -webkit-order: 1;
  margin-top: 25px;
  width: 60px;
  font-size: 0.7em;
  color: #81ccd1;
  background: #f5f7fc;
  padding: 0.8em;
  border-radius: 1.5em;
  border: 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15),
    -5px -5px 10px rgba(255, 255, 255, 0.85);
  transition: all 0.5s ease 0s;
}
@media all and (min-width: 780px) {
  .resetForm {
    order: none;
    -webkit-order: none;
  }
}
.resetForm:hover {
  color: #95979c;
  background: #f0f2f7;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05),
    -5px -5px 5px rgba(255, 255, 255, 0.5),
    5px 5px 5px inset rgba(0, 0, 0, 0.05),
    -5px -5px 5px inset rgba(255, 255, 255, 0.5);
}

.photoLoad {
  background-color: rgba(255, 244, 89, 0.596);
  font-size: 12px;
  border: 1px solid rgb(251, 255, 0);
  border-radius: 20px;
}

.photoPreview {
  padding: 10px;
  width: 20vw;
  height: 11vh;
  background-color: rgb(255, 255, 255);
  border: 0.5px solid white;
}

/* Night mode button */
.box2 {
  position: absolute;
  top: 1px;
  right: 1px;
}
@media all and (min-width: 780px) {
  .box2 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(11em, -300px);
  }
}
input[type="checkbox"] {
  position: relative;
  width: 65px;
  height: 30px;
  -webkit-appearance: none;
  background-color: #a5a7ac;
  outline: none;
  border-radius: 100px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

input:checked[type="checkbox"] {
  background: rgb(248, 174, 255);
}
@media all and (max-width: 780px) {
  input:checked[type="checkbox"] {
    background: rgb(71, 219, 83);
  }
}

input[type="checkbox"]:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  top: 5px;
  left: 5px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

input:checked[type="checkbox"]:before {
  left: 40px;
}
